* {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

body {
  width: 464px;
}

div {
  display: inline-block;
  margin: 0 0 0 0;
  vertical-align: top;
  background-color: red;
}

button {
  display: block;
  margin: 15px;
  height: 25px;
}
