* {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.wrapper {
  margin: auto;
  width: 460px;
}

.canvas {
  width: 464px;
  display: block;
  margin: 15px 0 0 0;
}

.box {
  display: inline-block;
  margin: 0 0 0 0;
  vertical-align: top;
  background-color: red;
}

button {
  margin: 25px 0 15px 0;
}
